pretrained/*
src/infer
src/exp
src/wandb
MONAI/*
RAW/REAL_WSIs
RAW/*/*.jpg
RAW/*/*.png
RAW/pretrained_weights
RAW/process/openslide
src/weights
wandb
**/__pycache__
src/exp_cls_256_cls
src/exp_cls_256_cls_rm_confused_case
src/exp_cls_256_cls_rm_confused_case_with9
**/*.png
BBDM2/results
RAW_DATA/*
log_slurm
exp_*